* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: red; */
   /* background-image: linear-gradient(red, blue); */
    display: flex;
    flex-direction: column;
    font-family: "Tagesschrift", system-ui;
}

.container {
    padding: 20px;
    /* background-color: aqua; */
background-image: linear-gradient(white, skyblue,orange);
}

.header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: brown;; */
}

.details{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    /* background-color: blue; */
    
}
#About{
  font-family: "Tagesschrift", system-ui;  
}
#About p{
font-size: 20px; 
}
#About h5{
    font-size: 15px; 
}

#About h4{
    font-size: 15px; 
}

.pic-container{
     width: 400px;
    height: 500px;
    /* background-color: white; */
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#pic img{
   width: 100%;
   height:100%;
    object-fit: cover;
    border-radius: 60%;
    aspect-ratio:1/1;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;

}
.projects-details{
padding: 20px;
    display: flex;
    /* background-color: yellow; */
    flex-direction: column;

}
.project1{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
    transition: background-color 0.5s ease-in-out 0.1s, transform 0.3s linear;
}
.project1:hover{
    background-color: #71c5e8;
  transform: scale(1.03); 
}

#Project1-pic img{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;

}
#Project1-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}   
.project2{
    margin-top: 20px;
 padding: 20px;
    display: flex;
    justify-content:space-around;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
     transition: background-color 0.5s ease-in-out 0.1s, transform 0.3s linear;   
}

.project2:hover{
    background-color:#d4b455;
  transform: scale(1.03); 
}

#Project2-pic img{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;

}
#Project2-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-image img{
     width: 400px;
    height: 400px;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;

}

#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* #contact{
     padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#form {
    /* background-color: brown; */
    padding: 20px;
 box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
 border: 2px solid skyblue;

 /* position: absolute;
left: 75%; */

}
#contact-form {
    /* background-color: chartreuse; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contact {
    /* color: blanchedalmond;  */
    padding: 20px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family:cursive; */
    font-weight: bold;
}

a {
  color: blue; /* Default link color */
  text-decoration: none; /* Remove default underline */
}

a:hover {
  color:orangered; /* Color on hover */
}
#Button button{
    background-color:#e7e7e7;
  border: none;
  color: black;
  padding:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color .4s ease;
}
#Button button:hover{
    background-color: #0056b3; 
}

/* Responsive styles */

@media(min-width: 1025px) {
  body {
   max-width: none;
    padding: 0 10px; 
  }
}
@media(min-width: 769px) and (max-width: 1024px)   {
  body {
   max-width: none; 
    padding: 0 10px;
  }
  .pic-container{
    margin-right:2rem;
  }
  #Project1-pic img{
    width: 300px;
    height: 300px;

}
#Project1-details{
    font-size: 18px;
} 
#Project1-details h1{
  font-size: 28px;
}
#Project1-details h2{
  font-size: 23px;
}

#Project2-pic img{
    width: 300px;
    height: 300px;

}
#Project2-details{
    font-size: 18px;
} 
#Project2-details h1{
  font-size: 28px;
}
#Project2-details h2{
  font-size: 23px;
}

}
@media(max-width: 768px) {
  
  body {
    .container{
      width: 100%;
    max-width: none; 
    padding:10px; 
    }  
  }
.hamburger{
  display: block;
}
    #About h1{
    font-size:22px;
    }
     #About h5{
    font-size:15px;
    }
     #About p{
    font-size:15px;
    }

  .pic-container{
    margin-right:2rem;
  }
  #Project1-pic img{
    width: 200px;
    height: 200px;

}
#Project1-details{
    font-size: 14px;
} 
#Project1-details h1{
  font-size: 26 px;
}
#Project1-details h2{
  font-size: 20px;
}

#Project2-pic img{
    width: 200px;
    height: 200px;

}
#Project2-details{
    font-size: 14px;
} 
#Project2-details h1{
  font-size: 26px;
}
#Project2-details h2{
  font-size: 20px;
}
} 